<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de familiares</title>
</head>
<body>
   
    <ul>
        
        {% for familiar in lista_familiares  %}
            <li>
                Nombre: {{familiar.nombre}} - Apellido: {{familiar.apellido}} - Edad: {{familiar.edad}} - Nacimiento: {{familiar.nacimiento}}
            </li>
        {% endfor %}
            

    </ul>


</body>
</html>